.global {
    --element-color: #55acee;
    /* Changed to a more modern and vibrant blue */
    --transition: all 0.3s ease-in-out;
    /* Smoother transition effect */
    --dark-color: #1a1a1a;
    /* Darker background for more contrast */
    --light-color: #f0f0f0;
    /* Lighter background */
    --font-family: 'Inter', 'Poppins', sans-serif;
}

.dark {
    --color: #e0e0e0;
    /* Lighter font color */
    --background: #1a1a1a;
    /* Main background */
    --background-element: #2c2c2c;
    /* Slightly lighter than main background for elements */
    --background-transparent: rgba(44, 44, 44, 0.7);
    /* Transparent background for a soft glass effect */
    --shadow: rgba(0, 0, 0, 0.4);
    /* Softer shadow */
    --svg-color: brightness(0) saturate(100%) invert(88%) sepia(3%) saturate(145%) hue-rotate(242deg) brightness(101%) contrast(93%);
    /* Adjusts SVG color for dark theme */
}

.light {
    --color: #333333;
    --background: #f0f0f0;
    --background-element: #e0e0e0;
    --background-transparent: rgba(224, 224, 224, 0.7);
    --shadow: rgba(0, 0, 0, 0.1);
    --svg-color: brightness(0) saturate(100%) invert(18%) sepia(2%) saturate(464%) hue-rotate(314deg) brightness(97%) contrast(92%);
}